<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
<script>
      function sendEmail()
      {
          window.location = "mailto:rrajcorp@gmail.com";
      }
</script>
</head>
<body>

<h2 style="text-align:center">Welcome to My Deep Learning App Gallery</h2>

<div class="card">
 <div class="profile">
     <img src="images/rahulraj.jpg" alt="Rahul" style="width:100%">
     <h1>Rahul Raj</h1>
     <p class="title">Deep Learning Enthusiast, Software Engineer &  a Family Guy </p>
     <p>Infosys</p>
     <div style="margin: 24px 0;">
         <a href="https://github.com/rahul-raj/"><i class="fa fa-dribbble"></i></a>
         <a href="https://twitter.com/rahulra990/"><i class="fa fa-twitter"></i></a>
         <a href="https://www.linkedin.com/in/rahulraj90/"><i class="fa fa-linkedin"></i></a>
         <a href="#"><i class="fa fa-facebook"></i></a>
     </div>
     <p><button onclick="sendEmail();">Contact</button></p>
  </div>
</div>
<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="/customerLossPrediction">
            <img src="images/customerlossprediction.jpg" alt="Customer Loss Prediction" width="600" height="400">
        </a>
        <div class="desc">Customer Loss Prediction</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="/animalClassification">
            <img src="images/animalclassification.jpg" alt="Simple Animal Classification" width="600" height="400">
        </a>
        <div class="desc">Simple Animal Classification</div>
    </div>
</div>
</body>
</html>
